.centered-flexbox {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin-bottom: 5%;
}

input[type="number"].correct{
  color: green;
}

input[type="number"].wrong {
  color: red;
}

.button {
  display: none;
}

.button.active {
  display: block;
}
